@font-face {
    font-family: "Google sans flex";
    src: url("/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf");
}

.root {
    -fx-font-family: "Google sans flex";
}

.heading {
    -fx-font-size: 2.5em;
}

.login-box{
    -fx-alignment: center_left;
    -fx-padding: 2em 8em 2em 8em;
    -fx-max-width: 700px;
}

.input-field{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-max-width: 500px;
}

.input-field:focused {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
    -fx-effect: innershadow(gaussian, #F07039, 8, 0.2, 0, 0);
}

.btn-container {
    -fx-alignment: center;
}

.login-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #F07039;
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
}

.login-btn:hover {
    -fx-background-color: #F07039;
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.register-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.register-btn:hover {
    -fx-cursor: hand;
}

.error-field {
    -fx-text-fill: red;
}

.register-title{
    -fx-font-size: 2.5em;
}

.register-info {
    -fx-font-size: 1.2em;
}

.login-fields{
    -fx-max-width: 500px;
}

.first-name {
    -fx-min-width: 250px;
}

.last-name {
    -fx-min-width: 250px;
}

.first-name, .last-name, .email-tf, .password-tf, .age-tf{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.first-name:hover, .last-name:hover, .email-tf:hover, .password-tf:hover, .age-tf:hover {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
    -fx-effect: innershadow(gaussian, #F07039, 8, 0.2, 0, 0);
}

.first-name:focused, .last-name:focused, .email-tf:focused, .password-tf:focused, .age-tf:focused {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
    -fx-effect: innershadow(gaussian, #F07039, 8, 0.2, 0, 0);
}

.back-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.back-btn:hover {
    -fx-border-color: #F07039;
    -fx-border-width: 1px;
}
