@font-face {
    font-family: "Google sans flex";
    src: url("/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf");
}

.root {
    -fx-font-family: "Google sans flex";
}

.heading {
    -fx-font-size: 2.5em;
}

.login-box{
    -fx-alignment: center_left;
    -fx-padding: 2em 8em 2em 8em;
    -fx-max-width: 700px;
}

.input-field{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-max-width: 500px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.input-field:focused {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
    -fx-faint-focus-color: transparent;
}

.btn-container {
    -fx-alignment: center;
}

.login-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #F07039;
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
}

.login-btn:hover {
    -fx-background-color: #F07039;
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.register-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.register-btn:hover {
    -fx-cursor: hand;
}

.error-field {
    -fx-text-fill: red;
}

.register-title{
    -fx-font-size: 2.5em;
}

.register-info {
    -fx-font-size: 1.2em;
}

.login-fields{
    -fx-max-width: 500px;
}

.first-name {
    -fx-min-width: 250px;
}

.last-name {
    -fx-min-width: 250px;
}

.first-name, .last-name, .email-tf, .password-tf, .age-tf{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-border-width: 1px;
    -fx-background-color: rgba(235, 233, 233, 0.74);
    -fx-border-color: #a6a6a6;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.first-name:hover, .last-name:hover, .email-tf:hover, .password-tf:hover, .age-tf:hover {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.first-name:focused, .last-name:focused, .email-tf:focused, .password-tf:focused, .age-tf:focused {
    -fx-border-width: 1px;
    -fx-border-color: #F07039;
}

.back-btn {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 4px 10px 4px 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.back-btn:hover {
    -fx-border-color: #F07039;
    -fx-border-width: 1px;
}

.box {
    -fx-alignment: center;
    -fx-font-family: "Google Sans Flex";
    -fx-max-width: 400px;
    -fx-min-height: 600px;
    -fx-padding: 5px 20px 5px 20px;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-color: #F07039;
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropShadow(gaussian, rgba(128, 128, 128, 0.34), 10, 0.1, 10, 10);
}